<% content_for :title do %>Camille's dashboard - Tech<% end %>
<%
file = File.read('data/tech.json')
@help = JSON.parse(file)
%>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
        <div class="col-sm-3">
          <a class="help-icon" href="#releases"></a>
          <div class="double-height" data-id="releases" data-view="List" data-unordered="true" data-title="Boxen releases"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#github-forks"></a>
          <div data-id="github-forks" data-view="List" data-unordered="true" data-title="Forks to update"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#github-issues"></a>
          <div data-id="github-issues" data-view="Number" data-title="GitHub Issues"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#github-prs"></a>
          <div data-id="github-prs" data-view="Number" data-title="Pull requests"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
          <a class="help-icon" href="#travis"></a>
          <div data-id="travis" data-view="Number" data-title="Website Builds"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#gemnasium"></a>
          <div data-id="gemnasium" data-view="Number" data-title="Gemnasium"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#statuscake"></a>
          <div data-id="statuscake" data-view="Number" data-title="Monitoring"></div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12"></div>
    </div>
    <% @help.each do |index, info| %>
      <div class="help-row" id="<%=index%>">
        <div class="col-sm-12">
          <div class="col-sm-3 help-title padding-top">
            <h3><%= info["title"] %></h3>
          </div>
          <div class="col-sm-3 help padding-top">
            <p class="goal"><%= info["goal"] %></p>
            <p class="code"><a href="https://gist.github.com/<%= info["gist"] %>">Code for widget</a></p>
          </div>
          <div class="col-sm-6 help padding-top">
            <a class="home-icon" href="#container" title="Back to dashboard"></a>
            <%= info["description"] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</body>
